body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

tr:hover {
    background-color: lightgreen;
    color: black;
}

.btn-danger {
    color: white;
    background-color: red;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: blue;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-success {
    color: white;
    background-color: green;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.update-button, .checkout-button {
    text-align: center;
    margin: 20px 0;
}

footer {
    background-color: #f1f1f1;
    padding: 10px 0;
    text-align: center;
}
